body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e8ffff;
}

// Wrapper
.wrapper {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #eee;
    padding: 20px;
    background: white;
    border-radius: 3px;

    h1 {
        margin-top: 0;
    }

    .formText,.smallText {
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
    }
    
    .smallText {
        font-size: 0.7em;
    }

    .screen {
        text-align: center;

        &-smallText {
            font-size: 0.8em;
        }
    }

    .boundedDiv {
        padding: 10px;
        border: dotted 3px #eee;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    .clickable {
        cursor: pointer;
    }

    // Input fields
    .inputDiv {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;

        .formSubmit,.addAddress {
            padding: 10px;
        }

        input[type=text] {
            border-style: none;
            border: solid 1px #eee; 

            &.error {
                border: solid 1px red;
            }
        }

        * {
            flex-grow: 1;
            font-size: 1.2em;
            border-radius: 3px;
        }
    }
}

